body {
  direction: rtl;
  font-family: cursive;
  font-size: 18px;
  text-align: right;
}

h4 {
  width: 100px;
}

.row {
  border-bottom: 6px solid #848484;
  margin: 0;
}

.text {
  border: 1px solid;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 35px;
  margin-top: 5px;
  background: rgba(216, 216, 216, .42);
}

.title {
  font-weight: 600;
  margin-right: 50px;
}

.desc {
  font-weight: normal;
}

.reference {
  margin-right: -15px;
}

.meta {
  padding: 20px 50px 0;
}

.btn-info {
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
}

.searchText {
  height: 40px;
  font-size: 20px;
}

.panel-heading {
  height: 60px;
}

.search-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.search-label {
  color: #0084ab;
  font-weight: 600;
  margin: 10px;
}

.spinner-backdrop {
   height: 100%;
   text-align: center;
   width: 100%;
   position: fixed;
   display: none;
   z-index: 99999;
 }

 .spin {
   background-color: rgba(0, 0, 0, 0.39);
   display: table-cell;
   vertical-align: middle;
 }

 .spin>* {
     position: absolute;
     width: 0.7%;
     height: 5%;
     left: 50%;
     top: 45%;
     background: #ffffff;
     border-radius: 128px;
     box-shadow: 0 0 2px rgb(255, 255, 255);
     -webkit-animation: spin .8s cubic-bezier(0, 500, 0, 1) infinite;
     -moz-animation: spin .8s cubic-bezier(0, 500, 0, 1) infinite;
     animation: spin .8s cubic-bezier(0, 500, 0, 1) infinite;
 }

 .container-fluid {
    padding: 15px;
  }
